* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex, .c-img--sm-container, .c-card, .c-card .c-card__body, .c-footer, .c-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap, .c-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-justify-content-center, .c-section--main, .c-section--main-second, .c-new-reviews, .c-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-direction-column, .c-news__articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-justify-content-space-around, .c-navigation {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid, .c-header {
  display: -ms-grid;
  display: grid;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 0px;
  border: 0;
  height: 2px;
  background-color: #e0e0e0;
  width: 100%;
}

.container {
  padding: 20px 10% 20px 10%;
}

.c-letter-divider {
  padding: 0px 5px 0px 5px;
}

.c-title {
  color: #929292;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.c-badge {
  color: #ffffff;
  background-color: #01d287;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 0px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.c-badge--round {
  border-radius: 6px;
}

.c-header {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px 5% 10px 5%;
  font-size: 15px;
}

.c-header__logo {
  height: 45px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.c-header__search {
  position: relative;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #9d9c9c;
}

.c-header__search i {
  position: absolute;
  right: 10%;
  top: 30%;
}

.c-header input[type="text"] {
  height: 39px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #f6f6f6;
  border: 0px solid;
  padding-left: 7%;
}

.c-header input:focus {
  outline: none;
}

.c-navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 57px;
  font-size: 18px;
  padding: 0px 10% 0px 10%;
  background: -webkit-gradient(linear, left top, right top, from(#2ec4b6), to(#34d364));
  background: linear-gradient(to right, #2ec4b6, #34d364);
  color: #ffffff;
}

.c-navigation__item {
  margin: 0px 10px 0px 0px;
}

.c-navigation__item:hover {
  border-bottom: 3px solid #ffffff;
}

.c-navigation__icons--right {
  position: absolute;
  right: 4%;
  font-size: 15px;
}

.c-navigation__icons--right i {
  margin-left: 6px;
}

.c-section--main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.c-section--main-second {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-section--main-second .c-img--md {
  margin: 0px 0px 0px 6px;
  height: 285px;
}

.c-section--main-second .c-img--sm {
  margin: 6px 0px 0px 6px;
}

.c-img--sm-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-img--sm-container .c-img--sm {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}

.c-new-reviews {
  color: #ffffff;
  margin: 20px 0px 20px 0px;
  min-height: 285px;
}

.c-new-reviews .c-img--sm {
  margin: 6px;
}

a i:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.c-img:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.c-img {
  position: relative;
  color: #ffffff;
}

.c-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.c-img--sm {
  height: 285px;
}

.c-img--lg {
  overflow: hidden;
  border-radius: 6px;
}

.c-img--lg img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.c-img__title {
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.c-img__title--sm {
  position: absolute;
  bottom: 4%;
  left: 4%;
}

.c-img__title--md {
  font-size: 22px;
  font-weight: bold;
}

.c-img__title--lg {
  font-size: 30px;
  font-weight: bold;
  bottom: 12%;
}

.c-img__title--bold {
  font-weight: bold;
}

.c-img__header {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 31px;
  left: 32px;
  letter-spacing: 1.5px;
}

.c-img__header--rating {
  height: 35px;
  top: 25px;
  left: 30px;
  padding: 5px;
  border-radius: 0px 6px 6px 6px;
  background-color: #00ccb2;
}

.c-img__header--rating span {
  font-weight: bold;
  font-size: 20px;
}

.c-card {
  color: black;
  margin: 10px 0px 0px 0px;
}

.c-card .c-card__img--sm {
  width: 50px;
  height: 63px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-card .c-card__body {
  margin: 0px 0px 0px 10px;
  padding: 10px;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-card .c-card__body .c-card__header {
  font-size: 22px;
  font-weight: bold;
}

.c-card .c-card__body .c-card__text--highlighted {
  font-size: 20px;
  color: #01d287;
  font-weight: bold;
}

.c-card .c-card__body .c-card__footer {
  color: #999999;
}

.c-news__articles-container {
  margin-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-news__new-phones-container {
  position: relative;
  padding: 10px;
}

.c-news__new-phones-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: 1px 2px 14px 2px #f7edf7;
          box-shadow: 1px 2px 14px 2px #f7edf7;
  z-index: -1;
}

.c-gallery-container {
  background-color: #fafafa;
}

.c-gallery-container .c-img .c-img--sm {
  height: 285px;
  width: 285px;
}

.c-gallery-container .c-title {
  color: #f0294a;
  margin: 0px;
  padding-bottom: 0px;
}

.swiper-container {
  width: 100%;
}

.swiper-container .c-img--sm {
  height: 285px;
  width: 285px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #888888;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-prev {
  left: 40px;
}

.c-footer {
  padding: 20px 10% 60px 10%;
  background-color: #f5f5f5;
  color: #929292;
}

.c-footer__logo {
  height: 100px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.c-footer__logo img {
  width: 100%;
  height: 100%;
}

.c-footer__body {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  padding: 10px;
  font-size: 15px;
}

.c-footer__text {
  margin-bottom: 10px;
}

.c-footer__nav {
  margin-top: 10px;
}

.c-footer__icons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #686868;
}

.c-footer__icon a {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background-color: #dfdede;
  border-radius: 20px;
  margin-right: 7px;
}

.c-footer__icon i {
  padding: 9px 8px;
  font-size: 20px;
  color: #686868;
}

@media screen and (min-width: 1500px) {
  .c-img--md,
  .c-img--sm {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}

@media screen and (max-width: 1179px) {
  .c-navigation {
    line-height: 30px;
  }
  .c-news__articles-container .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-news__articles-container .c-card__img--md {
    width: 400px;
    padding-left: 20px;
  }
  .c-news__new-phones-container {
    margin: 10px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  .c-section--main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-section--main .c-img--lg {
    margin: 6px;
  }
  .c-section--main-second .c-img--md {
    margin: 0px 6px 0px 6px;
    height: 285px;
  }
  .c-section--main-second .c-img--sm {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-new-reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-new-reviews .c-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  .c-title {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .c-news-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-news--articles-container {
    padding: 0px;
    margin: 0px;
  }
  .c-news--new-phones-container,
  .c-card {
    place-items: center;
  }
  .c-news--new-phones-container__body,
  .c-card__body {
    place-items: center;
  }
  .c-img__title--md {
    font-size: 15px;
  }
  .c-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .c-footer__icons {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .c-header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .c-header__logo, .c-header__search {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .c-section--main-second {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-section--main-second .c-img--sm-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-img__title--lg,
  .c-img__title--md {
    font-size: 20px;
  }
  .c-img--lg,
  .c-img--sm,
  .c-img--md {
    min-height: 250px;
    max-height: 250px;
    margin: 0px;
  }
  .c-news__articles-container {
    margin: 0px;
  }
  .c-news__articles-container .c-card__img--md {
    width: 300px;
  }
  .c-footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 10px;
  }
  .c-new-reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-new-reviews .c-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
  }
}
/*# sourceMappingURL=index.css.map */