@import "./scss/resets";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/general";

a,
a:visited,
//a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 0px;
  border: 0;
  height: 2px;
  background-color: #e0e0e0;
  width: 100%;
}

.container {
  padding: 20px 10% 20px 10%;
}

.c-letter-divider {
  padding: 0px 5px 0px 5px;
}

.c-title {
  color: #929292;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.c-badge {
  color: $mainFontColor;
  background-color: #01d287;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 0px;
  align-self: start;
  justify-content: start;
  &--round {
    border-radius: 6px;
  }
}

.c-header {
  @extend .grid;
  @include grid-template-columns(1fr 1fr);
  padding: 10px 5% 10px 5%;
  font-size: 15px;
  &__logo {
    height: 45px;
    justify-self: start;
  }
  &__search {
    position: relative;
    justify-self: end;
    align-self: center;
    color: #9d9c9c;
    i {
      position: absolute;
      right: 10%;
      top: 30%;
    }
  }
  input[type="text"] {
    height: 39px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #f6f6f6;
    border: 0px solid;
    padding-left: 7%;
  }
  input:focus {
    outline: none;
  }
}

.c-navigation {
  @extend .flex-wrap;
  @extend .u-justify-content-space-around;
  align-items: center;
  line-height: 57px;
  font-size: 18px;
  padding: 0px 10% 0px 10%;
  background: linear-gradient(to right, #2ec4b6, #34d364);
  color: $mainFontColor;
  &__item {
    margin: 0px 10px 0px 0px;
    &:hover {
      border-bottom: 3px solid $mainFontColor;
    }
  }
  &__icons--right {
    position: absolute;
    right: 4%;
    font-size: 15px;
    i {
      margin-left: 6px;
    }
  }
}

.c-section--main {
  // padding: 20px 10% 20px 10%;
  // @extend .container;
  @extend .u-justify-content-center;

  flex: 1 1 40%;
}

.c-section--main-second {
  @extend .u-justify-content-center;
  @include flex-direction(column);
  // flex: 1 1 40%;
  .c-img--md {
    margin: 0px 0px 0px 6px;
    height: 285px;
  }
  .c-img--sm {
    margin: 6px 0px 0px 6px;
    //  height: 285px;
  }
}

.c-img--sm-container {
  @extend .flex;
  justify-content: space-between;
  .c-img--sm {
    flex-basis: 285px;
  }
}

.c-new-reviews {
  @extend .u-justify-content-center;
  color: $mainFontColor;
  margin: 20px 0px 20px 0px;
  min-height: 285px;
  .c-img--sm {
    margin: 6px;
  }
}

a {
  i:hover {
    filter: brightness(70%);
  }
}

.c-img:hover {
  filter: brightness(70%);
}

.c-img {
  position: relative;
  color: $mainFontColor;
  img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    filter: brightness(70%);
  }
  &--sm {
    height: 285px;
  }
  &--lg {
    overflow: hidden;
    border-radius: 6px;
    img {
      transform: scale(1.4);
    }
  }
  &__title {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    &--sm {
      position: absolute;
      bottom: 4%;
      left: 4%;
    }
    &--md {
      font-size: 22px;
      font-weight: bold;
    }
    &--lg {
      font-size: 30px;
      font-weight: bold;
      bottom: 12%;
    }
    &--bold {
      font-weight: bold;
    }
  }
  &__header {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 31px;
    left: 32px;
    letter-spacing: 1.5px;
    &--rating {
      height: 35px;
      top: 25px;
      left: 30px;
      padding: 5px;
      border-radius: 0px 6px 6px 6px;
      background-color: #00ccb2;
      span {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.c-card {
  @extend .flex;
  color: black;
  margin: 10px 0px 0px 0px;
  .c-card__img--sm {
    width: 50px;
    height: 63px;
    align-self: center;
  }
  .c-card__body {
    margin: 0px 0px 0px 10px;
    padding: 10px;
    color: black;
    @extend .flex;
    @include flex-direction(column);
    justify-content: space-between;
    .c-card__header {
      font-size: 22px;
      font-weight: bold;
    }
    .c-card__text {
      &--highlighted {
        font-size: 20px;
        color: #01d287;
        font-weight: bold;
      }
    }
    .c-card__footer {
      color: #999999;
    }
  }
}

.c-news-container {
  //padding: 20px 10% 20px 10%;
  // @extend .container;
  @extend .u-justify-content-center;
}

.c-news__articles-container {
  @extend .flex-direction-column;
  margin-right: 30px;
  justify-content: space-between;
}

.c-news__new-phones-container {
  position: relative;
  padding: 10px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 1px 2px 14px 2px rgba(247, 237, 247, 1);
    z-index: -1;
  }
}

.c-gallery-container {
  background-color: #fafafa;
  .c-img {
    .c-img--sm {
      height: 285px;
      width: 285px;
    }
  }
  .c-title {
    //padding: 20px 10% 20px 10%;
    //  @extend .container;
    color: #f0294a;
    margin: 0px;
    padding-bottom: 0px;
  }
}

.swiper-container {
  width: 100%;
  .c-img--sm {
    height: 285px;
    width: 285px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #888888;
}
.swiper-button-next {
  right: 40px;
}
.swiper-button-prev {
  left: 40px;
}

.c-footer {
  padding: 20px 10% 60px 10%;
  background-color: #f5f5f5;
  color: #929292;
  @extend .flex;
  &__logo {
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
    flex-grow: 0;
  }
  &__body {
    flex-grow: 7;
    padding: 10px;
    font-size: 15px;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__nav {
    margin-top: 10px;
  }
  &__icons {
    @extend .flex;
    flex-grow: 2;
    align-items: center;
    color: #686868;
  }
  &__icon {
    a {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      background-color: #dfdede;
      border-radius: 20px;
      margin-right: 7px;
    }
    i {
      padding: 9px 8px;
      font-size: 20px;
      color: #686868;
    }
  }
}

@media screen and (min-width: 1500px) {
  .c-img--md,
  .c-img--sm {
    flex-basis: 100% !important;
  }
}

@media screen and (max-width: 1179px) {
  .c-navigation {
    line-height: 30px;
  }
  .c-news__articles-container {
    .c-card {
      flex-direction: column;
      &__img--md {
        width: 400px;
        padding-left: 20px;
      }
    }
  }
  .c-news__new-phones-container {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  .c-section--main {
    flex-direction: column;
    align-items: center;
    .c-img--lg {
      // width: 80%;
      margin: 6px;
    }
    &-second {
      // width: 80%;
      .c-img--md {
        margin: 0px 6px 0px 6px;
        height: 285px;
      }
      .c-img--sm {
        // flex-basis: 313px;
        flex: 1 1 40%;
      }
    }
  }
  .c-card {
    flex-direction: column;
  }
  .c-new-reviews {
    flex-wrap: wrap;
    .c-img {
      flex: 1 1 40%;
    }
  }
  .c-title {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .c-news-container {
    flex-direction: column;
  }
  .c-news--articles-container {
    padding: 0px;
    margin: 0px;
  }
  .c-news--new-phones-container,
  .c-card {
    place-items: center;
    &__body {
      place-items: center;
    }
  }
  .c-img__title--md {
    font-size: 15px;
  }
  .c-footer {
    flex-wrap: wrap;
    justify-content: center;
    &__icons {
      margin-top: 20px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .c-header {
    grid-template-columns: 1fr;
    &__logo,
    &__search {
      justify-self: center;
    }
  }
  // .c-section--main {
  //   // .c-img--lg {
  //   //   width: 100%;
  //   //   width: 250px;
  //   // }
  // }
  .c-section--main-second {
    width: 100%;
    align-items: center;
    // .c-img--md {
    //   height: 250px;
    // }
    .c-img--sm-container {
      flex-direction: column;
      // .c-img--sm {
      //   margin: 5px 0px 0px 0px;
      //   flex-basis: 250px !important;
      // }
    }
  }

  .c-img__title--lg,
  .c-img__title--md {
    font-size: 20px;
  }

  .c-img--lg,
  .c-img--sm,
  .c-img--md {
    min-height: 250px;
    max-height: 250px;
    //height: 250px;
    // width: 250px;
    margin: 0px;
  }
  .c-news__articles-container {
    margin: 0px;
    .c-card__img--md {
      width: 300px;
    }
  }
  .c-footer__logo {
    order: 1;
    margin-top: 10px;
  }
  .c-new-reviews {
    flex-wrap: wrap;
    .c-img {
      flex: 1 1 90%;
    }
  }
}
